
import { WASI } from 'wasi';
import { argv, env } from 'node:process';

const wasi = new WASI({ version: 'preview1', args: argv, env: env, preopens: {
    '/tmp': '<SYSTEM_TEMP_DIR>',
    '/var/log': '<SYSTEM_TEMP_DIR2>'
}});

const fs = await import('node:fs');
const url = await import('node:url');
const wasmBuffer = fs.readFileSync(url.fileURLToPath(import.meta.resolve('./kotlinx-io-kotlinx-io-core-test.wasm')));
const wasmModule = new WebAssembly.Module(wasmBuffer);
const wasmInstance = new WebAssembly.Instance(wasmModule, wasi.getImportObject());

wasi.initialize(wasmInstance);

const exports = wasmInstance.exports

export const {
memory,
_initialize,
startUnitTests
} = exports


